In [7]:
import pandas as pd

In [8]:
csv = pd.read_csv("districtDataCorrected.csv")

In [9]:
csv.head()

,serial,id,bang,2019,20191,20192,20193,20194,20195,20196,20197,20198,20199,201910,201911,201912,2020,20201,20202,20203
0,1,1,কুমিল্লা,419.0,1.0,2.0,0.0,0.0,0.0,1.0,10.0,332.0,55.0,6.0,10.0,2.0,2.0,0.0,2.0,0.0
1,2,1,ফেনী,192.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,138.0,33.0,5.0,1.0,8.0,3.0,3.0,0.0,0.0
2,3,1,ব্রাহ্মণবাড়িয়া,187.0,1.0,2.0,0.0,0.0,0.0,0.0,6.0,117.0,46.0,2.0,4.0,9.0,0.0,0.0,0.0,0.0
3,4,1,রাঙ্গামাটি,34.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,25.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,5,1,নোয়াখালী,231.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,202.0,18.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
del csv["serial"]
del csv["id"]
del csv["bang"]

In [11]:
csv.head()

,2019,20191,20192,20193,20194,20195,20196,20197,20198,20199,201910,201911,201912,2020,20201,20202,20203
0,419.0,1.0,2.0,0.0,0.0,0.0,1.0,10.0,332.0,55.0,6.0,10.0,2.0,2.0,0.0,2.0,0.0
1,192.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,138.0,33.0,5.0,1.0,8.0,3.0,3.0,0.0,0.0
2,187.0,1.0,2.0,0.0,0.0,0.0,0.0,6.0,117.0,46.0,2.0,4.0,9.0,0.0,0.0,0.0,0.0
3,34.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,25.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,231.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,202.0,18.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
jan = csv["20191"].sum()
feb = csv["20192"].sum()
mar = csv["20193"].sum()
apr = csv["20194"].sum()
may = csv["20195"].sum()
jun = csv["20196"].sum()
jul = csv["20197"].sum()
aug = csv["20198"].sum()
sep = csv["20199"].sum()
oct = csv["201910"].sum()
nov = csv["201911"].sum()
dec = csv["201912"].sum()

jan20 = csv["20201"].sum()
y2019 = csv["2020220.sum()
mar20 = csv["20203"].sum()
91"].sum()
y2020 =csv["20191"].sum()290

SyntaxError: EOL while scanning string literal (<ipython-input-17-dcbcffbe9939>, line 15)

In [3]:
data = ['20191':jan, '20192':feb, '20193':mar, '20194':apr, '20195':may, '20196':jun, '20197':jul, '20198':aug, '20199':sep, '201910':oct, '201911':nov, '201912':dec, '2019':y2019, '2020':y2020]

SyntaxError: invalid syntax (<ipython-input-3-240fa6260067>, line 1)

[[82.0],
 [115.0],
 [68.0],
 [63.0],
 [29.0],
 [262.0],
 [1083.0],
 [24657.0],
 [7478.0],
 [1604.0],
 [640.0],
 [439.0],
 [82.0],
 [82.0]]

In [20]:
df = pd.DataFrame(data, columns= ['20191','20192','20193','20194','20195','20196','20197','20198','20199','201910','201911','201912','2019', '2020'])

In [21]:
df

          0
0      82.0
1     115.0
2      68.0
3      63.0
4      29.0
5     262.0
6    1083.0
7   24657.0
8    7478.0
9    1604.0
10    640.0
11    439.0
12     82.0
13     82.0