In [6]:
import pandas as pd

In [7]:
division = pd.read_csv("divisions.csv",names=["id","eng","bang","web"])
district = pd.read_csv("districtDataCorrected.csv")
upazilla = pd.read_csv("upazillaCorrected.csv")
unions = pd.read_csv("unionData.csv")

In [13]:
division.head()
district.head()
unions.head()
upazilla.head()

,serial,id,bang,2019,20191,20192,20193,20194,20195,20196,20197,20198,20199,201910,201911,201912,2020,20201,20202,20203
0,0,1,দেবিদ্বার,23.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1,বরুড়া,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,1,ব্রাহ্মণপাড়া,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,1,চান্দিনা,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1,চৌদ্দগ্রাম,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0

In [4]:
for i,row in unions.iterrows():
    for j, rowDiv in upazilla.iterrows():
        if(rowDiv.serial+1 == row.id):
            district.loc[i,'id'] = rowDiv.bang
            break

In [36]:
district.to_csv("districtCorrect.csv")

In [5]:
district.head()

,serial,id,bang,2019,20191,20192,20193,20194,20195,20196,20197,20198,20199,201910,201911,201912,2020,20201,20202,20203
0,1.0,লালমাই,কুমিল্লা,419.0,1.0,2.0,0.0,0.0,0.0,1.0,10.0,332.0,55.0,6.0,10.0,2.0,2.0,0.0,2.0,0.0
1,2.0,লালমাই,ফেনী,192.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,138.0,33.0,5.0,1.0,8.0,3.0,3.0,0.0,0.0
2,3.0,লালমাই,ব্রাহ্মণবাড়িয়া,187.0,1.0,2.0,0.0,0.0,0.0,0.0,6.0,117.0,46.0,2.0,4.0,9.0,0.0,0.0,0.0,0.0
3,4.0,লালমাই,রাঙ্গামাটি,34.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,25.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,5.0,লালমাই,নোয়াখালী,231.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,202.0,18.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0