In [38]:
import requests
import pandas as pd

In [39]:
url = "http://dev.pipilika.com:5001/get_dengue_news?location=ঢাকা&start_date=2019-01-01&end_date=2019-01-05"

request = requests.get(url)

In [40]:
requests.get(url).json()

2

In [41]:
upazilas = pd.read_csv("upazilaEdited.csv")

In [42]:
upazilas

     Unnamed: 0   id   division   district  upazilaBangla
0             0    1  চট্টগ্রাম   কুমিল্লা      দেবিদ্বার
1             1    2  চট্টগ্রাম   কুমিল্লা         বরুড়া
2             2    3  চট্টগ্রাম   কুমিল্লা  ব্রাহ্মণপাড়া
3             3    4  চট্টগ্রাম   কুমিল্লা       চান্দিনা
4             4    5  চট্টগ্রাম   কুমিল্লা     চৌদ্দগ্রাম
..          ...  ...        ...        ...            ...
486         486  487   ময়মনসিংহ  নেত্রকোণা     খালিয়াজুরী
487         487  488   ময়মনসিংহ  নেত্রকোণা     কলমাকান্দা
488         488  489   ময়মনসিংহ  নেত্রকোণা       মোহনগঞ্জ
489         489  490   ময়মনসিংহ  নেত্রকোণা       পূর্বধলা
490         490  491   ময়মনসিংহ  নেত্রকোণা  নেত্রকোণা সদর

[491 rows x 5 columns]

In [43]:
del upazilas['Unnamed: 0']

In [44]:
for i,row in upazilas.iterrows():
    url2019  = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['upazilaBangla']+"&start_date=2019-01-01&end_date=2019-12-31"
    url20191 = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['upazilaBangla']+"&start_date=2019-01-01&end_date=2019-03-31"
    url20192 = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['upazilaBangla']+"&start_date=2019-04-01&end_date=2019-06-31"
    url20193 = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['upazilaBangla']+"&start_date=2019-07-01&end_date=2019-09-31"
    url20194 = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['upazilaBangla']+"&start_date=2019-10-01&end_date=2019-12-31"
    request2019  = requests.get(url2019).json()
    upazilas.loc[i,'2019']  = request2019
    # request20191 = requests.get(url20191).json()
    # upazilas.loc[i,'20191'] = request20191
    # request20192 = requests.get(url20192).json()
    # upazilas.loc[i,'20192'] = request20192
    # request20193 = requests.get(url20193).json()
    # upazilas.loc[i,'20193'] = request20193
    # request20194 = requests.get(url20194).json()    
    # upazilas.loc[i,'20194'] = request20194
    
    url2020 = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['upazilaBangla']+"&start_date=2020-01-01&end_date=2020-03-31"
    request2020 = requests.get(url2020).json()
    upazilas.loc[i,'2020'] = request2020
    
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73

KeyboardInterrupt:

In [17]:
upazilas

      id   division   district  upazilaBangla
0      1  চট্টগ্রাম   কুমিল্লা      দেবিদ্বার
1      2  চট্টগ্রাম   কুমিল্লা         বরুড়া
2      3  চট্টগ্রাম   কুমিল্লা  ব্রাহ্মণপাড়া
3      4  চট্টগ্রাম   কুমিল্লা       চান্দিনা
4      5  চট্টগ্রাম   কুমিল্লা     চৌদ্দগ্রাম
..   ...        ...        ...            ...
486  487   ময়মনসিংহ  নেত্রকোণা     খালিয়াজুরী
487  488   ময়মনসিংহ  নেত্রকোণা     কলমাকান্দা
488  489   ময়মনসিংহ  নেত্রকোণা       মোহনগঞ্জ
489  490   ময়মনসিংহ  নেত্রকোণা       পূর্বধলা
490  491   ময়মনসিংহ  নেত্রকোণা  নেত্রকোণা সদর

[491 rows x 4 columns]

In [47]:
districts = pd.read_csv("districts.csv",names=["id","division","eng","bang","lats","longs","web"])

In [48]:
districts

,id,division,eng,bang,lats,longs,web
0,1,1,Comilla,কুমিল্লা,23.468275,91.178814,www.comilla.gov.bd
1,2,1,Feni,ফেনী,23.023231,91.384084,www.feni.gov.bd
2,3,1,Brahmanbaria,ব্রাহ্মণবাড়িয়া,23.957090,91.111929,www.brahmanbaria.gov.bd
3,4,1,Rangamati,রাঙ্গামাটি,NaN,NaN,www.rangamati.gov.bd
4,5,1,Noakhali,নোয়াখালী,22.869563,91.099398,www.noakhali.gov.bd
...,...,...,...,...,...,...,...
59,60,7,Kurigram,কুড়িগ্রাম,25.805445,89.636174,www.kurigram.gov.bd
60,61,8,Sherpur,শেরপুর,25.020493,90.015297,www.sherpur.gov.bd
61,62,8,Mymensingh,ময়মনসিংহ,NaN,NaN,www.mymensingh.gov.bd
62,63,8,Jamalpur,জামালপুর,24.937533,89.937775,www.jamalpur.gov.bd
63,64,8,Netrokona,নেত্রকোণা,24.870955,90.727887,www.netrokona.gov.bd

In [49]:
del districts["eng"]
del districts["lats"]
del districts["longs"]
del districts["web"]

In [50]:
districts

    id  division              bang
0    1         1          কুমিল্লা
1    2         1              ফেনী
2    3         1  ব্রাহ্মণবাড়িয়া
3    4         1        রাঙ্গামাটি
4    5         1         নোয়াখালী
..  ..       ...               ...
59  60         7         কুড়িগ্রাম
60  61         8            শেরপুর
61  62         8          ময়মনসিংহ
62  63         8          জামালপুর
63  64         8         নেত্রকোণা

[64 rows x 3 columns]

In [52]:
for i,row in districts.iterrows():
    url2019  = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2019-01-01&end_date=2019-12-31"
    url20191 = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2019-01-01&end_date=2019-03-31"
    url20192 = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2019-04-01&end_date=2019-06-31"
    url20193 = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2019-07-01&end_date=2019-09-31"
    url20194 = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2019-10-01&end_date=2019-12-31"
    request2019  = requests.get(url2019).json()
    districts.loc[i,'2019']  = request2019
    # request20191 = requests.get(url20191).json()
    # districts.loc[i,'20191'] = request20191
    # request20192 = requests.get(url20192).json()
    # districts.loc[i,'20192'] = request20192
    # request20193 = requests.get(url20193).json()
    # districts.loc[i,'20193'] = request20193
    # request20194 = requests.get(url20194).json()    
    # districts.loc[i,'20194'] = request20194
    
    url2020 = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2020-01-01&end_date=2020-03-31"
    request2020 = requests.get(url2020).json()
    districts.loc[i,'2020'] = request2020
    
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63

In [54]:
del districts['20191']

In [55]:
districts

    id  division              bang    2019  2020
0    1         1          কুমিল্লা   419.0   2.0
1    2         1              ফেনী   192.0   3.0
2    3         1  ব্রাহ্মণবাড়িয়া   187.0   0.0
3    4         1        রাঙ্গামাটি    34.0   0.0
4    5         1         নোয়াখালী   231.0   0.0
..  ..       ...               ...     ...   ...
59  60         7         কুড়িগ্রাম   157.0   3.0
60  61         8            শেরপুর   179.0   1.0
61  62         8          ময়মনসিংহ  1455.0   5.0
62  63         8          জামালপুর   214.0   3.0
63  64         8         নেত্রকোণা    66.0   0.0

[64 rows x 5 columns]

In [70]:
districts.to_csv("DistrictDataWith20192020.csv")

In [71]:
divisions = pd.read_csv("divisions.csv",names=["id","eng","bang","web"])

In [72]:
del divisions['eng']
del divisions['web']

In [73]:
divisions

   id       bang
0   1  চট্টগ্রাম
1   2    রাজশাহী
2   3      খুলনা
3   4     বরিশাল
4   5      সিলেট
5   6       ঢাকা
6   7      রংপুর
7   8   ময়মনসিংহ

In [ ]:
for i,row in divisions.iterrows():
    url2019   = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2019-01-01&end_date=2019-12-31"
    url20191  = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2019-01-01&end_date=2019-01-31"
    url20192  = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2019-02-01&end_date=2019-02-28"
    url20193  = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2019-03-01&end_date=2019-03-31"
    url20194  = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2019-04-01&end_date=2019-04-30"
    url20195  = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2019-05-01&end_date=2019-05-31"
    url20196  = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2019-06-01&end_date=2019-06-30"
    url20197  = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2019-07-01&end_date=2019-07-31"
    url20198  = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2019-08-01&end_date=2019-08-31"
    url20199  = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2019-09-01&end_date=2019-09-30"
    url201910 = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2019-10-01&end_date=2019-10-31"
    url201911 = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2019-11-01&end_date=2019-11-30"
    url201912 = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2019-12-01&end_date=2019-12-31"
    request2019  = requests.get(url2019).json()
    divisions.loc[i,'2019']  = request2019
    request20191 = requests.get(url20191).json()
    divisions.loc[i,'20191'] = request20191
    request20192 = requests.get(url20192).json()
    divisions.loc[i,'20192'] = request20192
    request20193 = requests.get(url20193).json()
    divisions.loc[i,'20193'] = request20193
    request20194 = requests.get(url20194).json()    
    divisions.loc[i,'20194'] = request20194
    request20195 = requests.get(url20195).json()    
    divisions.loc[i,'20195'] = request20195
    request20196 = requests.get(url20196).json()    
    divisions.loc[i,'20196'] = request20196
    request20197 = requests.get(url20197).json()    
    divisions.loc[i,'20197'] = request20197
    request20198 = requests.get(url20198).json()    
    divisions.loc[i,'20198'] = request20198
    request20199 = requests.get(url20199).json()    
    divisions.loc[i,'20199'] = request20199
    request201910 = requests.get(url201910).json()    
    divisions.loc[i,'201910'] = request201910
    request201911 = requests.get(url201911).json()    
    divisions.loc[i,'201911'] = request201911
    request201912 = requests.get(url201912).json()    
    divisions.loc[i,'201912'] = request201912
    
    url2020 = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2020-01-01&end_date=2020-03-31"
    url20201 = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2020-01-01&end_date=2020-01-31"
    url20202 = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2020-02-01&end_date=2020-02-29"
    url20203 = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2020-03-01&end_date=2020-03-31"
    
    request2020 = requests.get(url2020).json()
    divisions.loc[i,'2020'] = request2020
    request20201 = requests.get(url20201).json()
    divisions.loc[i,'20201'] = request20201
    request20202 = requests.get(url20202).json()
    divisions.loc[i,'20202'] = request20202
    request20203 = requests.get(url20203).json()
    divisions.loc[i,'20203'] = request20203
    
    print(i)

In [79]:
divisions

,id,bang,2019,20191,20192,20193,20194,20195,20196,20197,20198,20199,201910,201911,201912,2020
0,1,চট্টগ্রাম,2169.0,3.0,6.0,3.0,2.0,0.0,5.0,59.0,1317.0,562.0,145.0,41.0,25.0,11.0
1,2,রাজশাহী,1534.0,3.0,17.0,3.0,1.0,0.0,6.0,55.0,855.0,491.0,75.0,17.0,11.0,17.0
2,3,খুলনা,1594.0,1.0,1.0,3.0,2.0,0.0,0.0,39.0,917.0,468.0,107.0,47.0,8.0,3.0
3,4,বরিশাল,1904.0,2.0,5.0,0.0,1.0,0.0,1.0,51.0,1161.0,554.0,91.0,24.0,14.0,2.0
4,5,সিলেট,1432.0,7.0,3.0,3.0,3.0,0.0,2.0,52.0,835.0,405.0,65.0,22.0,35.0,6.0
5,6,ঢাকা,10990.0,26.0,41.0,32.0,20.0,26.0,223.0,340.0,7648.0,1720.0,443.0,281.0,189.0,164.0
6,7,রংপুর,1109.0,1.0,0.0,2.0,2.0,0.0,1.0,27.0,765.0,237.0,55.0,11.0,8.0,4.0
7,8,ময়মনসিংহ,1455.0,1.0,0.0,0.0,0.0,0.0,0.0,32.0,977.0,360.0,62.0,13.0,10.0,5.0