In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("DengueCase.csv")

In [4]:
data.head()

,month,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,January,0,0,0,0,0,6,15,0,13,92,26,38
1,February,0,0,0,0,0,7,7,0,3,58,7,18
2,March,0,0,0,0,0,3,2,2,17,36,19,17
3,April,0,0,0,0,0,3,0,6,38,73,29,58
4,May,0,1,0,0,0,12,8,10,70,134,52,193

In [5]:
del data['2008']
del data['2009']
del data['2010']
del data['2011']
del data['2012']
del data['2013']
del data['2014']
del data['2015']
del data['2016']
del data['2017']
del data['2018']

In [6]:
data.head()

      month  2019
0   January    38
1  February    18
2     March    17
3     April    58
4       May   193

In [ ]:
data.to_csv("IEDCR.csv")